.contact-form {
    background-color: #f1f1f1 !important;
    padding: 128px 16px;
    padding-top: 50px;
    div {
        .contact_header {
            text-align: center;
            h2 {
                font-family: "Segoe UI", Arial, sans-serif;
                font-weight: 400;
                font-size: 24px;
                margin: 10px 0;
                padding-bottom: 20px;
            }
            p {
                font-family: "Raleway", sans-serif;
                font-size: 18px !important;
            }
        }
    }
}
.contact_container {
    font-size: 20px !important;
    span {
        display: block;
        padding-top: 30px;
    }
    i {
        font-size: 30px;
    }
}
.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding-top: 30px;
    .form {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        .form-input {
            margin-bottom: 20px;
            padding: 8px 16px;
            font-size: 16px;
        }
        .form-button {
            display: inline-block;
            width: fit-content;
            font-size: 16px;
            border: 0;
            padding: 8px 16px;
            background-color: black;
            color: white;
            &:hover {
                background-color: rgb(182, 182, 182);
                color: black;
            }
        }
    }
}

.map-container {
    margin-top: 30px;
    img {
        width: 100%;
        height: 800px;
    }
}

@media screen and (max-width: 1173px) {
    .map-container {
        text-align: center;
        .img_container {
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }
}
