.section_designe{
    background-color: $design_background_color;
    height: 400px;
    padding: 128px 50px;
    .design_container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 2vw;
        padding-top: 30px;
    
    }
    .container{
      
        h3{
            font-weight: 400;
            margin: 10px 0;
            font-size: 24px;
            line-height: 1.8;
            padding-bottom: 20px;
        }
        p{
            padding-bottom: 25px;
            width: 480px;
        }
        button{
            color: #fff!important;
            background-color: #000!important;
            padding: 8px 16px;
            cursor: pointer;
        }
    }

}


       
  
