.section_designe {
    background-color: $design_background_color;
    height: auto;
    padding: 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    .containers {
        h3 {
            font-weight: 400;
            margin: 10px 0;
            font-size: 24px;
            line-height: 1.8;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 25px;
            width: auto;
            line-height: 1.8;
        }
        button {
            color: #fff;
            background-color: #000 !important;
            padding: 15px 20px;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: black;
                background-color: #bdb6b6 !important;
                border: 0 solid gray;
            }
        }
    }
}

@media screen and (max-width: 1173px) {
    .section_designe {
        grid-template-columns: 1fr;
        text-align: center;
        .img_container {
            width: 100%;
            padding: 0;
        }
    }
}
