.footer {
    background-color: black;
    width: 100%;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center;
    color: white;
    button {
        color: black;
        background-color: #f1f1f1;
        padding: 15px 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: #b3b0b0;
        }
    }
    .icon_container {
        cursor: pointer;
        padding-top: 20px;
        font-size: 24px !important;
        #icon_style {
            color: white;
            &:hover {
                color: #bdb6b6;
            }
        }
    }
    p {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
        a {
            color: white;
            &:hover {
                color: green;
            }
        }
    }
}
