.header {
    background-color: $header_background_color;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar_link {
        padding-left: 30px;
        letter-spacing: 4px;
        text-decoration: none;
        color: #000;
    }
    .navbar-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        li {
            display: block;
            padding: 20px 16px;
            &:hover {
                background-color: rgb(155, 153, 153);
            }
            .navbar-list-item {
                text-decoration: none;
                color: $header_item_color;
            }
        }
    }
   
    @media screen and  (max-width: 700px) {
        .navbar-list {
         display: none;
        }
        .navbar_link{
            font-size: 20px;
            padding: 20px;
        }
    }
    
    
}


