.section_skills {
    background-color: $design_background_color;
    height: 300px;
    padding: 64px !important;
    .skills_container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        padding-top: 30px;
    }
    .container_skills{
        h3 {
            font-weight: 400;
            margin: 10px 0;
            font-size: 24px;
            line-height: 1.8;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 25px;
            width: 480px;
            line-height: 1.8;
        }
    }
}

.main-skills-container {
    margin-top: 15px;

    .skill_element_name {
        font-size: 15px;
        letter-spacing: 4px;
        padding: 10px 0px 10px;
    }
    .percent {
        background-color: #9e9e9e !important;
        .percent_value {
            display: block;
            color: white;
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            background-color: #616161 !important;
            font-size: 15px;
            margin: 10px 10px 10px 0 !important;
            span {
                justify-content: center;
                display: flex;
            }
        }
    }
}
